FORMAT: 1A
HOST: https://plutonium.apiary-services.com

# Plutonium
Plutonium parsing service provides parsing of API description formats (namely API Blueprint, but also others) "as a service".

## Media Types
The API uses [content negotiation](https://en.wikipedia.org/wiki/Content_negotiation) heavily. Send requests with the `Content-Type` header set to the right input media type and use the `Accept` header to select desired output as a response.

### Resource State Representation

```
application/hal+json
```

Where applicable this API uses the [HAL+JSON](https://github.com/mikekelly/hal_specification/blob/master/hal_specification.md) media type to represent resource states and to provide available affordances.

### Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used. Error responses use the [vnd.error](https://github.com/blongden/vnd.error) media type.

## Data Structures

### Input Types (enum)

#### Members
+ `text/vnd.apiblueprint`
+ `text/vnd.legacyblueprint`
+ `application/swagger+json`
+ `application/swagger+yaml`

### Transformation Instruction (object)
+ input_document (string, required)
+ input_type (Input Types, required)
+ output_type (string, required)
+ options (object, optional)
    + source_map: false (boolean, default) - whether or not to include source maps

### Transformation Result (object)
+ output_type (string, required)
+ output_document (string)
+ meta (object, optional)
    + transformation_time (string) - amount of time taken by parsing
    + input_size (number) - the length of the input document in octets
    + output_size (number) - the length of the result document in octets

### Validation Instruction (object)
+ input_document (string, required)
+ input_type (Input Types, required)

## Service Root [/]
API entry point.

This resource does not have any attributes, instead it provides list of available affordances.

### Affordances
- `parse` - Parse an API description

    See _API Description Parser_ resource's _Parser_ action for details.

- `compose` - Composes an API description

    See _API Description Composer_ resource's _Compose_ action for details.

- `transform` - Transforms API description to AST or vice versa

    See _API Description formats transformation_ resource's _Transform_ action for details.

### List [GET]

+ Relation: index

+ Response 200 (application/hal+json)
    + Headers

            Link: <http://docs.plutonium.apiary.io>; rel="profile"

    + Body

            {
                "_links": {
                    "self": {"href": "/"},
                    "transform": {"href": "/transform"},
                    "parse": {"href": "/parser"},
                    "compose": {"href": "/composer"},
                    "validate": {"href": "/validate"}
                }
            }

### Transform [POST /transform]

+ Request Transform API Blueprint without warning or error into JSON API Elements without version (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Hello API\"\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": [\n              \"resourceGroup\"\n            ],\n            \"title\": \"\"\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": \"\"\n              },\n              \"attributes\": {\n                \"href\": \"/message\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": \"\"\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": \"GET\"\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": \"200\",\n                            \"headers\": {\n                              \"element\": \"httpHeaders\",\n                              \"content\": [\n                                {\n                                  \"element\": \"member\",\n                                  \"content\": {\n                                    \"key\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"Content-Type\"\n                                    },\n                                    \"value\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"text/plain\"\n                                    }\n                                  }\n                                }\n                              ]\n                            }\n                          },\n                          \"content\": [\n                            {\n                              \"element\": \"asset\",\n                              \"meta\": {\n                                \"classes\": [\n                                  \"messageBody\"\n                                ]\n                              },\n                              \"attributes\": {\n                                \"contentType\": \"text/plain\"\n                              },\n                              \"content\": \"Hello World!\\n\"\n                            }\n                          ]\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint without warning or error into JSON API Elements 0.6 (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Hello API\"\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": [\n              \"resourceGroup\"\n            ],\n            \"title\": \"\"\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": \"\"\n              },\n              \"attributes\": {\n                \"href\": \"/message\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": \"\"\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": \"GET\"\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": \"200\",\n                            \"headers\": {\n                              \"element\": \"httpHeaders\",\n                              \"content\": [\n                                {\n                                  \"element\": \"member\",\n                                  \"content\": {\n                                    \"key\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"Content-Type\"\n                                    },\n                                    \"value\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"text/plain\"\n                                    }\n                                  }\n                                }\n                              ]\n                            }\n                          },\n                          \"content\": [\n                            {\n                              \"element\": \"asset\",\n                              \"meta\": {\n                                \"classes\": [\n                                  \"messageBody\"\n                                ]\n                              },\n                              \"attributes\": {\n                                \"contentType\": \"text/plain\"\n                              },\n                              \"content\": \"Hello World!\\n\"\n                            }\n                          ]\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint without warning or error into JSON API Elements 1.0 (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"api\"\n            }\n          ]\n        },\n        \"title\": {\n          \"element\": \"string\",\n          \"content\": \"Hello API\"\n        }\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": {\n              \"element\": \"array\",\n              \"content\": [\n                {\n                  \"element\": \"string\",\n                  \"content\": \"resourceGroup\"\n                }\n              ]\n            },\n            \"title\": {\n              \"element\": \"string\",\n              \"content\": \"\"\n            }\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": {\n                  \"element\": \"string\",\n                  \"content\": \"\"\n                }\n              },\n              \"attributes\": {\n                \"href\": {\n                  \"element\": \"string\",\n                  \"content\": \"/message\"\n                }\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": {\n                      \"element\": \"string\",\n                      \"content\": \"\"\n                    }\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": {\n                              \"element\": \"string\",\n                              \"content\": \"GET\"\n                            }\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": {\n                              \"element\": \"string\",\n                              \"content\": \"200\"\n                            },\n                            \"headers\": {\n                              \"element\": \"httpHeaders\",\n                              \"content\": [\n                                {\n                                  \"element\": \"member\",\n                                  \"content\": {\n                                    \"key\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"Content-Type\"\n                                    },\n                                    \"value\": {\n                                      \"element\": \"string\",\n                                      \"content\": \"text/plain\"\n                                    }\n                                  }\n                                }\n                              ]\n                            }\n                          },\n                          \"content\": [\n                            {\n                              \"element\": \"asset\",\n                              \"meta\": {\n                                \"classes\": {\n                                  \"element\": \"array\",\n                                  \"content\": [\n                                    {\n                                      \"element\": \"string\",\n                                      \"content\": \"messageBody\"\n                                    }\n                                  ]\n                                }\n                              },\n                              \"attributes\": {\n                                \"contentType\": {\n                                  \"element\": \"string\",\n                                  \"content\": \"text/plain\"\n                                }\n                              },\n                              \"content\": \"Hello World!\\n\"\n                            }\n                          ]\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint without warning or error into YAML API Elements without version (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Hello API\n    content:\n      - element: category\n        meta:\n          classes:\n            - resourceGroup\n          title: ''\n        content:\n          - element: resource\n            meta:\n              title: ''\n            attributes:\n              href: /message\n            content:\n              - element: transition\n                meta:\n                  title: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode: '200'\n                          headers:\n                            element: httpHeaders\n                            content:\n                              - element: member\n                                content:\n                                  key:\n                                    element: string\n                                    content: Content-Type\n                                  value:\n                                    element: string\n                                    content: text/plain\n                        content:\n                          - element: asset\n                            meta:\n                              classes:\n                                - messageBody\n                            attributes:\n                              contentType: text/plain\n                            content: |\n                              Hello World!\n"
        }

+ Request Transform API Blueprint without warning or error into YAML API Elements 0.6 (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Hello API\n    content:\n      - element: category\n        meta:\n          classes:\n            - resourceGroup\n          title: ''\n        content:\n          - element: resource\n            meta:\n              title: ''\n            attributes:\n              href: /message\n            content:\n              - element: transition\n                meta:\n                  title: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode: '200'\n                          headers:\n                            element: httpHeaders\n                            content:\n                              - element: member\n                                content:\n                                  key:\n                                    element: string\n                                    content: Content-Type\n                                  value:\n                                    element: string\n                                    content: text/plain\n                        content:\n                          - element: asset\n                            meta:\n                              classes:\n                                - messageBody\n                            attributes:\n                              contentType: text/plain\n                            content: |\n                              Hello World!\n"
        }

+ Request Transform API Blueprint without warning or error into YAML API Elements 1.0 (application/json)

        {
          "input_document": "# Hello API\n## /message\n### GET\n+ Response 200 (text/plain)\n\n        Hello World!\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: api\n      title:\n        element: string\n        content: Hello API\n    content:\n      - element: category\n        meta:\n          classes:\n            element: array\n            content:\n              - element: string\n                content: resourceGroup\n          title:\n            element: string\n            content: ''\n        content:\n          - element: resource\n            meta:\n              title:\n                element: string\n                content: ''\n            attributes:\n              href:\n                element: string\n                content: /message\n            content:\n              - element: transition\n                meta:\n                  title:\n                    element: string\n                    content: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method:\n                            element: string\n                            content: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode:\n                            element: string\n                            content: '200'\n                          headers:\n                            element: httpHeaders\n                            content:\n                              - element: member\n                                content:\n                                  key:\n                                    element: string\n                                    content: Content-Type\n                                  value:\n                                    element: string\n                                    content: text/plain\n                        content:\n                          - element: asset\n                            meta:\n                              classes:\n                                element: array\n                                content:\n                                  - element: string\n                                    content: messageBody\n                            attributes:\n                              contentType:\n                                element: string\n                                content: text/plain\n                            content: |\n                              Hello World!\n"
        }

+ Request Transform API Blueprint with a warning into JSON API Elements without version (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Hello\"\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": [\n              \"resourceGroup\"\n            ],\n            \"title\": \"\"\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": \"\"\n              },\n              \"attributes\": {\n                \"href\": \"/\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": \"\"\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": \"GET\"\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": \"204\"\n                          },\n                          \"content\": []\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"warning\"\n        ]\n      },\n      \"attributes\": {\n        \"code\": 3,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                18,\n                14\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"no parameters specified, expected a nested list of parameters, one parameter per list item\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with a warning into JSON API Elements 0.6 (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Hello\"\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": [\n              \"resourceGroup\"\n            ],\n            \"title\": \"\"\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": \"\"\n              },\n              \"attributes\": {\n                \"href\": \"/\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": \"\"\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": \"GET\"\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": \"204\"\n                          },\n                          \"content\": []\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"warning\"\n        ]\n      },\n      \"attributes\": {\n        \"code\": 3,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                18,\n                14\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"no parameters specified, expected a nested list of parameters, one parameter per list item\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with a warning into JSON API Elements 1.0 (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"api\"\n            }\n          ]\n        },\n        \"title\": {\n          \"element\": \"string\",\n          \"content\": \"Hello\"\n        }\n      },\n      \"content\": [\n        {\n          \"element\": \"category\",\n          \"meta\": {\n            \"classes\": {\n              \"element\": \"array\",\n              \"content\": [\n                {\n                  \"element\": \"string\",\n                  \"content\": \"resourceGroup\"\n                }\n              ]\n            },\n            \"title\": {\n              \"element\": \"string\",\n              \"content\": \"\"\n            }\n          },\n          \"content\": [\n            {\n              \"element\": \"resource\",\n              \"meta\": {\n                \"title\": {\n                  \"element\": \"string\",\n                  \"content\": \"\"\n                }\n              },\n              \"attributes\": {\n                \"href\": {\n                  \"element\": \"string\",\n                  \"content\": \"/\"\n                }\n              },\n              \"content\": [\n                {\n                  \"element\": \"transition\",\n                  \"meta\": {\n                    \"title\": {\n                      \"element\": \"string\",\n                      \"content\": \"\"\n                    }\n                  },\n                  \"content\": [\n                    {\n                      \"element\": \"httpTransaction\",\n                      \"content\": [\n                        {\n                          \"element\": \"httpRequest\",\n                          \"attributes\": {\n                            \"method\": {\n                              \"element\": \"string\",\n                              \"content\": \"GET\"\n                            }\n                          },\n                          \"content\": []\n                        },\n                        {\n                          \"element\": \"httpResponse\",\n                          \"attributes\": {\n                            \"statusCode\": {\n                              \"element\": \"string\",\n                              \"content\": \"204\"\n                            }\n                          },\n                          \"content\": []\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"warning\"\n            }\n          ]\n        }\n      },\n      \"attributes\": {\n        \"code\": {\n          \"element\": \"number\",\n          \"content\": 3\n        },\n        \"sourceMap\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"sourceMap\",\n              \"content\": [\n                {\n                  \"element\": \"array\",\n                  \"content\": [\n                    {\n                      \"element\": \"number\",\n                      \"content\": 18\n                    },\n                    {\n                      \"element\": \"number\",\n                      \"content\": 14\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      },\n      \"content\": \"no parameters specified, expected a nested list of parameters, one parameter per list item\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with a warning into YAML API Elements without version (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Hello\n    content:\n      - element: category\n        meta:\n          classes:\n            - resourceGroup\n          title: ''\n        content:\n          - element: resource\n            meta:\n              title: ''\n            attributes:\n              href: /\n            content:\n              - element: transition\n                meta:\n                  title: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode: '204'\n                        content: []\n  - element: annotation\n    meta:\n      classes:\n        - warning\n    attributes:\n      code: 3\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 18\n              - 14\n    content: >-\n      no parameters specified, expected a nested list of parameters, one\n      parameter per list item\n"
        }

+ Request Transform API Blueprint with a warning into YAML API Elements 0.6 (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Hello\n    content:\n      - element: category\n        meta:\n          classes:\n            - resourceGroup\n          title: ''\n        content:\n          - element: resource\n            meta:\n              title: ''\n            attributes:\n              href: /\n            content:\n              - element: transition\n                meta:\n                  title: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode: '204'\n                        content: []\n  - element: annotation\n    meta:\n      classes:\n        - warning\n    attributes:\n      code: 3\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 18\n              - 14\n    content: >-\n      no parameters specified, expected a nested list of parameters, one\n      parameter per list item\n"
        }

+ Request Transform API Blueprint with a warning into YAML API Elements 1.0 (application/json)

        {
          "input_document": "# Hello\n\n# GET /\n\n+ Parameters\n\n+ Response 204\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: api\n      title:\n        element: string\n        content: Hello\n    content:\n      - element: category\n        meta:\n          classes:\n            element: array\n            content:\n              - element: string\n                content: resourceGroup\n          title:\n            element: string\n            content: ''\n        content:\n          - element: resource\n            meta:\n              title:\n                element: string\n                content: ''\n            attributes:\n              href:\n                element: string\n                content: /\n            content:\n              - element: transition\n                meta:\n                  title:\n                    element: string\n                    content: ''\n                content:\n                  - element: httpTransaction\n                    content:\n                      - element: httpRequest\n                        attributes:\n                          method:\n                            element: string\n                            content: GET\n                        content: []\n                      - element: httpResponse\n                        attributes:\n                          statusCode:\n                            element: string\n                            content: '204'\n                        content: []\n  - element: annotation\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: warning\n    attributes:\n      code:\n        element: number\n        content: 3\n      sourceMap:\n        element: array\n        content:\n          - element: sourceMap\n            content:\n              - element: array\n                content:\n                  - element: number\n                    content: 18\n                  - element: number\n                    content: 14\n    content: >-\n      no parameters specified, expected a nested list of parameters, one\n      parameter per list item\n"
        }

+ Request Transform API Blueprint with an error into JSON API Elements without version (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"error\"\n        ]\n      },\n      \"attributes\": {\n        \"code\": 4,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                39,\n                9\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"base type 'A' circularly referencing itself\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with an error into JSON API Elements 0.6 (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"error\"\n        ]\n      },\n      \"attributes\": {\n        \"code\": 4,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                39,\n                9\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"base type 'A' circularly referencing itself\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with an error into JSON API Elements 1.0 (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"error\"\n            }\n          ]\n        }\n      },\n      \"attributes\": {\n        \"code\": {\n          \"element\": \"number\",\n          \"content\": 4\n        },\n        \"sourceMap\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"sourceMap\",\n              \"content\": [\n                {\n                  \"element\": \"array\",\n                  \"content\": [\n                    {\n                      \"element\": \"number\",\n                      \"content\": 39\n                    },\n                    {\n                      \"element\": \"number\",\n                      \"content\": 9\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      },\n      \"content\": \"base type 'A' circularly referencing itself\"\n    }\n  ]\n}"
        }

+ Request Transform API Blueprint with an error into YAML API Elements without version (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        - error\n    attributes:\n      code: 4\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 39\n              - 9\n    content: base type 'A' circularly referencing itself\n"
        }

+ Request Transform API Blueprint with an error into YAML API Elements 0.6 (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        - error\n    attributes:\n      code: 4\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 39\n              - 9\n    content: base type 'A' circularly referencing itself\n"
        }

+ Request Transform API Blueprint with an error into YAML API Elements 1.0 (application/json)

        {
          "input_document": "FORMAT: 1A\n\n# Hello\n\n# Data Structures\n## A (A)\n",
          "input_type": "text/vnd.apiblueprint",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: error\n    attributes:\n      code:\n        element: number\n        content: 4\n      sourceMap:\n        element: array\n        content:\n          - element: sourceMap\n            content:\n              - element: array\n                content:\n                  - element: number\n                    content: 39\n                  - element: number\n                    content: 9\n    content: base type 'A' circularly referencing itself\n"
        }

+ Request Transform Swagger YAML without warning or error into JSON API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": \"204\"\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML without warning or error into JSON API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": \"204\"\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML without warning or error into JSON API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"api\"\n            }\n          ]\n        },\n        \"title\": {\n          \"element\": \"string\",\n          \"content\": \"Swagger\"\n        }\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": {\n              \"element\": \"string\",\n              \"content\": \"/test\"\n            }\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": {\n                  \"element\": \"string\",\n                  \"content\": \"Test get\"\n                }\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": {\n                          \"element\": \"string\",\n                          \"content\": \"GET\"\n                        }\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": {\n                          \"element\": \"string\",\n                          \"content\": \"204\"\n                        }\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML without warning or error into YAML API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger YAML without warning or error into YAML API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger YAML without warning or error into YAML API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        204:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: api\n      title:\n        element: string\n        content: Swagger\n    content:\n      - element: resource\n        attributes:\n          href:\n            element: string\n            content: /test\n        content:\n          - element: transition\n            meta:\n              title:\n                element: string\n                content: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method:\n                        element: string\n                        content: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode:\n                        element: string\n                        content: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger YAML with a warning into JSON API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"content\": []\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"warning\"\n        ],\n        \"links\": [\n          {\n            \"element\": \"link\",\n            \"attributes\": {\n              \"relation\": \"origin\",\n              \"href\": \"http://docs.apiary.io/validations/swagger#refract-not-supported\"\n            },\n            \"content\": []\n          }\n        ]\n      },\n      \"attributes\": {\n        \"code\": 3,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                167,\n                46\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"Default response is not yet supported\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with a warning into JSON API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"content\": []\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"warning\"\n        ],\n        \"links\": [\n          {\n            \"element\": \"link\",\n            \"attributes\": {\n              \"relation\": \"origin\",\n              \"href\": \"http://docs.apiary.io/validations/swagger#refract-not-supported\"\n            },\n            \"content\": []\n          }\n        ]\n      },\n      \"attributes\": {\n        \"code\": 3,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                167,\n                46\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"Default response is not yet supported\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with a warning into JSON API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"api\"\n            }\n          ]\n        },\n        \"title\": {\n          \"element\": \"string\",\n          \"content\": \"Swagger\"\n        }\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": {\n              \"element\": \"string\",\n              \"content\": \"/test\"\n            }\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": {\n                  \"element\": \"string\",\n                  \"content\": \"Test get\"\n                }\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": {\n                          \"element\": \"string\",\n                          \"content\": \"GET\"\n                        }\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"content\": []\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"warning\"\n            }\n          ]\n        },\n        \"links\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"link\",\n              \"attributes\": {\n                \"relation\": {\n                  \"element\": \"string\",\n                  \"content\": \"origin\"\n                },\n                \"href\": {\n                  \"element\": \"string\",\n                  \"content\": \"http://docs.apiary.io/validations/swagger#refract-not-supported\"\n                }\n              },\n              \"content\": []\n            }\n          ]\n        }\n      },\n      \"attributes\": {\n        \"code\": {\n          \"element\": \"number\",\n          \"content\": 3\n        },\n        \"sourceMap\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"sourceMap\",\n              \"content\": [\n                {\n                  \"element\": \"array\",\n                  \"content\": [\n                    {\n                      \"element\": \"number\",\n                      \"content\": 167\n                    },\n                    {\n                      \"element\": \"number\",\n                      \"content\": 46\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      },\n      \"content\": \"Default response is not yet supported\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with a warning into YAML API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    content: []\n  - element: annotation\n    meta:\n      classes:\n        - warning\n      links:\n        - element: link\n          attributes:\n            relation: origin\n            href: 'http://docs.apiary.io/validations/swagger#refract-not-supported'\n          content: []\n    attributes:\n      code: 3\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 167\n              - 46\n    content: Default response is not yet supported\n"
        }

+ Request Transform Swagger YAML with a warning into YAML API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    content: []\n  - element: annotation\n    meta:\n      classes:\n        - warning\n      links:\n        - element: link\n          attributes:\n            relation: origin\n            href: 'http://docs.apiary.io/validations/swagger#refract-not-supported'\n          content: []\n    attributes:\n      code: 3\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 167\n              - 46\n    content: Default response is not yet supported\n"
        }

+ Request Transform Swagger YAML with a warning into YAML API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n  version: '2.0'\npaths:\n  '/test':\n    get:\n      summary: Test get\n      description: Test description\n      responses:\n        default:\n          description: Test response\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: api\n      title:\n        element: string\n        content: Swagger\n    content:\n      - element: resource\n        attributes:\n          href:\n            element: string\n            content: /test\n        content:\n          - element: transition\n            meta:\n              title:\n                element: string\n                content: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method:\n                        element: string\n                        content: GET\n                    content: []\n                  - element: httpResponse\n                    content: []\n  - element: annotation\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: warning\n      links:\n        element: array\n        content:\n          - element: link\n            attributes:\n              relation:\n                element: string\n                content: origin\n              href:\n                element: string\n                content: >-\n                  http://docs.apiary.io/validations/swagger#refract-not-supported\n            content: []\n    attributes:\n      code:\n        element: number\n        content: 3\n      sourceMap:\n        element: array\n        content:\n          - element: sourceMap\n            content:\n              - element: array\n                content:\n                  - element: number\n                    content: 167\n                  - element: number\n                    content: 46\n    content: Default response is not yet supported\n"
        }

+ Request Transform Swagger YAML with an error into JSON API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"error\"\n        ],\n        \"links\": [\n          {\n            \"element\": \"link\",\n            \"attributes\": {\n              \"relation\": \"origin\",\n              \"href\": \"http://docs.apiary.io/validations/swagger#swagger-validation\"\n            },\n            \"content\": []\n          }\n        ]\n      },\n      \"attributes\": {\n        \"code\": 4,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                15,\n                23\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"Missing required property: version\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with an error into JSON API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"error\"\n        ],\n        \"links\": [\n          {\n            \"element\": \"link\",\n            \"attributes\": {\n              \"relation\": \"origin\",\n              \"href\": \"http://docs.apiary.io/validations/swagger#swagger-validation\"\n            },\n            \"content\": []\n          }\n        ]\n      },\n      \"attributes\": {\n        \"code\": 4,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                15,\n                23\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"Missing required property: version\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with an error into JSON API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"error\"\n            }\n          ]\n        },\n        \"links\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"link\",\n              \"attributes\": {\n                \"relation\": {\n                  \"element\": \"string\",\n                  \"content\": \"origin\"\n                },\n                \"href\": {\n                  \"element\": \"string\",\n                  \"content\": \"http://docs.apiary.io/validations/swagger#swagger-validation\"\n                }\n              },\n              \"content\": []\n            }\n          ]\n        }\n      },\n      \"attributes\": {\n        \"code\": {\n          \"element\": \"number\",\n          \"content\": 4\n        },\n        \"sourceMap\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"sourceMap\",\n              \"content\": [\n                {\n                  \"element\": \"array\",\n                  \"content\": [\n                    {\n                      \"element\": \"number\",\n                      \"content\": 15\n                    },\n                    {\n                      \"element\": \"number\",\n                      \"content\": 23\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      },\n      \"content\": \"Missing required property: version\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger YAML with an error into YAML API Elements without version (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        - error\n      links:\n        - element: link\n          attributes:\n            relation: origin\n            href: 'http://docs.apiary.io/validations/swagger#swagger-validation'\n          content: []\n    attributes:\n      code: 4\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 15\n              - 23\n    content: 'Missing required property: version'\n"
        }

+ Request Transform Swagger YAML with an error into YAML API Elements 0.6 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        - error\n      links:\n        - element: link\n          attributes:\n            relation: origin\n            href: 'http://docs.apiary.io/validations/swagger#swagger-validation'\n          content: []\n    attributes:\n      code: 4\n      sourceMap:\n        - element: sourceMap\n          content:\n            - - 15\n              - 23\n    content: 'Missing required property: version'\n"
        }

+ Request Transform Swagger YAML with an error into YAML API Elements 1.0 (application/json)

        {
          "input_document": "swagger: '2.0'\ninfo:\n  title: Swagger\n",
          "input_type": "application/swagger+yaml",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 422 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: annotation\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: error\n      links:\n        element: array\n        content:\n          - element: link\n            attributes:\n              relation:\n                element: string\n                content: origin\n              href:\n                element: string\n                content: 'http://docs.apiary.io/validations/swagger#swagger-validation'\n            content: []\n    attributes:\n      code:\n        element: number\n        content: 4\n      sourceMap:\n        element: array\n        content:\n          - element: sourceMap\n            content:\n              - element: array\n                content:\n                  - element: number\n                    content: 15\n                  - element: number\n                    content: 23\n    content: 'Missing required property: version'\n"
        }

+ Request Transform Swagger JSON without warning or error into JSON API Elements without version (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": \"204\"\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger JSON without warning or error into JSON API Elements 0.6 (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+json; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=0.6",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": \"204\"\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger JSON without warning or error into JSON API Elements 1.0 (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+json; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json; version=1.0",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": {\n          \"element\": \"array\",\n          \"content\": [\n            {\n              \"element\": \"string\",\n              \"content\": \"api\"\n            }\n          ]\n        },\n        \"title\": {\n          \"element\": \"string\",\n          \"content\": \"Swagger\"\n        }\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": {\n              \"element\": \"string\",\n              \"content\": \"/test\"\n            }\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": {\n                  \"element\": \"string\",\n                  \"content\": \"Test get\"\n                }\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": {\n                          \"element\": \"string\",\n                          \"content\": \"GET\"\n                        }\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"attributes\": {\n                        \"statusCode\": {\n                          \"element\": \"string\",\n                          \"content\": \"204\"\n                        }\n                      },\n                      \"content\": [\n                        {\n                          \"element\": \"copy\",\n                          \"content\": \"Test response\"\n                        }\n                      ]\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"
        }

+ Request Transform Swagger JSON without warning or error into YAML API Elements without version (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+yaml"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger JSON without warning or error into YAML API Elements 0.6 (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=0.6",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        - api\n      title: Swagger\n    content:\n      - element: resource\n        attributes:\n          href: /test\n        content:\n          - element: transition\n            meta:\n              title: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger JSON without warning or error into YAML API Elements 1.0 (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"204\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+yaml; version=1.0",
          "output_document": "element: parseResult\ncontent:\n  - element: category\n    meta:\n      classes:\n        element: array\n        content:\n          - element: string\n            content: api\n      title:\n        element: string\n        content: Swagger\n    content:\n      - element: resource\n        attributes:\n          href:\n            element: string\n            content: /test\n        content:\n          - element: transition\n            meta:\n              title:\n                element: string\n                content: Test get\n            content:\n              - element: copy\n                content: Test description\n              - element: httpTransaction\n                content:\n                  - element: httpRequest\n                    attributes:\n                      method:\n                        element: string\n                        content: GET\n                    content: []\n                  - element: httpResponse\n                    attributes:\n                      statusCode:\n                        element: string\n                        content: '204'\n                    content:\n                      - element: copy\n                        content: Test response\n"
        }

+ Request Transform Swagger JSON with a warning into JSON API Elements without version (application/json)

        {
          "input_document": "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"title\": \"Swagger\",\n    \"version\": \"2.0\"\n  },\n  \"paths\": {\n    \"/test\": {\n      \"get\": {\n        \"summary\": \"Test get\",\n        \"description\": \"Test description\",\n        \"responses\": {\n          \"default\": {\n            \"description\": \"Test response\"\n          }\n        }\n      }\n    }\n  }\n}\n",
          "input_type": "application/swagger+json",
          "output_type": "application/vnd.refract.parse-result+json"
        }

+ Response 200 (application/hal+json)

        {
          "output_type": "application/vnd.refract.parse-result+json",
          "output_document": "{\n  \"element\": \"parseResult\",\n  \"content\": [\n    {\n      \"element\": \"category\",\n      \"meta\": {\n        \"classes\": [\n          \"api\"\n        ],\n        \"title\": \"Swagger\"\n      },\n      \"content\": [\n        {\n          \"element\": \"resource\",\n          \"attributes\": {\n            \"href\": \"/test\"\n          },\n          \"content\": [\n            {\n              \"element\": \"transition\",\n              \"meta\": {\n                \"title\": \"Test get\"\n              },\n              \"content\": [\n                {\n                  \"element\": \"copy\",\n                  \"content\": \"Test description\"\n                },\n                {\n                  \"element\": \"httpTransaction\",\n                  \"content\": [\n                    {\n                      \"element\": \"httpRequest\",\n                      \"attributes\": {\n                        \"method\": \"GET\"\n                      },\n                      \"content\": []\n                    },\n                    {\n                      \"element\": \"httpResponse\",\n                      \"content\": []\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"element\": \"annotation\",\n      \"meta\": {\n        \"classes\": [\n          \"warning\"\n        ],\n        \"links\": [\n          {\n            \"element\": \"link\",\n            \"attributes\": {\n              \"relation\": \"origin\",\n              \"href\": \"http://docs.apiary.io/validations/swagger#refract-not-supported\"\n            },\n            \"content\": []\n          }\n        ]\n      },\n      \"attributes\": {\n        \"code\": 3,\n        \"sourceMap\": [\n          {\n            \"element\": \"sourceMap\",\n            \"content\": [\n              [\n                234,\n                67\n              ]\n            ]\n          }\n        ]\n      },\n      \"content\": \"Default response is not yet supported\"\n    }\n  ]\n}"
        }

+ Request Transform Swagger JSON with a warning into JSON API Elements 0.6 (application/json)

        {
[...]
